<div class="container">
    <h2>CMS</h2>
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit(companyForm.value)">
        <div class="form-group">
            <label for="exampleInputEmail1">Company name</label>
            <input type="email" class="form-control" id="input_companyName" formControlName="input_companyName"
                aria-describedby="emailHelp" placeholder="Enter company name"
                (keyup)="checkNameValid($event.target.value)" [ngClass]="{'is-invalid' : name_disabled || name_empty}">
            <small class="invalid-feedback" *ngIf="name_disabled">
                This company name already exists.
            </small>
            <small class="invalid-feedback" *ngIf="name_empty">
                Company name cannot be empty.
            </small>
        </div>
        <div class="form-group">
            <label for="input_alias1">Alias 1</label>
            <input type="text" class="form-control" id="input_alias1" formControlName="input_alias1"
                placeholder="Alias 1">
        </div>
        <div class="form-group">
            <label for="input_alias2">Alias 2</label>
            <input type="text" class="form-control" id="input_alias2" formControlName="input_alias2"
                placeholder="Alias 2">
        </div>
        <div class="form-group">
            <label for="input_alias3">Alias 3</label>
            <input type="text" class="form-control" id="input_alias3" formControlName="input_alias3"
                placeholder="Alias 3">
        </div>
        <button [attr.disabled]="name_disabled || name_empty ? 'is-invalid' : null" type="submit"
            class="btn btn-primary">Submit</button>
    </form>

    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = ''">{{ successMessage }}</ngb-alert>

</div>
<div class="container" style="display:none;">

    <div *ngIf="items$ | async; let items; else loading">
        <ul>
            <li *ngFor="let item of items">
                <code>{{ item.payload.val().name }}</code>
                <span *ngFor="let alias of item.payload.val().alias">
                    {{alias}}
                </span>
            </li>
        </ul>
        <div *ngIf="items.length === 0">No results, try clearing filters</div>
    </div>
    <ng-template #loading>Loading&hellip;</ng-template>
    <div>
        <h4>Filter by size</h4>
        <button (click)="filterBy('small')">Small</button>
        <button (click)="filterBy('medium')">Medium</button>
        <button (click)="filterBy('large')">Large</button>
        <button (click)="filterBy('x-large')">Extra Large</button>
        <button (click)="filterBy(null)" *ngIf="this.size$.getValue()">
            <em>clear filter</em>
        </button>
    </div>
</div>